@mixin svg-bg($name) {
  .no-svg & {
  	background: transparent url(../images/general/#{$name}.png) 0 0 no-repeat; // IE8 & below
  	background-size: auto auto;
  }
  background: transparent url(../images/general/#{$name}.svg) 0 0 no-repeat;
  background-size: 100%;
}