body, h1, h2, h3, h4, h5, h6{
    font-family: $font;
}

.text_green {
    color: $green;
}

.text_grey {
    color: $grey;
}

.text_red {
    color: $red;
}

.text_white {
    color: $white;
}

.text_size-1 {
    font-size: 500%;
}
.text_size-2 {
    font-size: 400%;
}
.text_size-3 {
    font-size: 325%;
}
.text_size-4 {
    font-size: 250%;
}
.text_size-5 {
    font-size: 175%;
}
.text_size-6 {
    font-size: 100%;
}

.text_bold {
    font-weight: bold;
}