body {
    font-family: 'PT Mono';
}

.text_size-1 {
    font-size: 300%;
}
.text_size-2 {
    font-size: 275%;
}
.text_size-3 {
    font-size: 250%;
}
.text_size-4 {
    font-size: 225%;
}
.text_size-5 {
    font-size: 200%;
}
.text_size-6 {
    font-size: 175%;
}